# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List popular Data Science development environments

Some of the popular languages that Data Scientists use are:

1. Python
2. JAVA
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Plotly
4. SciPy

|Data Science Tools|
|-----|
|Jupyter Notebook|
|RStudio|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividng by 60

In [4]:
200/60

3.3333333333333335

## Author
Hannah Crotty